<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="io.github.supermonster003.autojs6.plugin.three.stack.archive.UriGrantProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:permission="org.autojs.permission.PLUGIN"
            android:theme="@android:style/Theme.NoDisplay" />

        <provider
            android:name="io.github.supermonster003.autojs6.plugin.three.stack.archive.CollisionDocumentsProvider"
            android:authorities="io.github.supermonster003.autojs6.plugin.three.stack.archive.test.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>
